{% extends "shop/publiclayout.html" %}
{% block content %}

<div class="container">

        <header>
            <h2 class="tm-main-title">Welcome to HaveMerci Jewelry Store</h2>    
        </header>
    
        <h1>
                COMPANY INFO</h1>
            <h2>
                How it all started...</h2>
            <h3>
                THE SIGNS</h3>
            <p>
                High school: My teachers not only found it necessary for me to turn in my work at
                the end of class, but also expected their usual sales transaction of my handmade
                hair scrunchies to take place. I found it strangely normal to sell my line of hair
                scrunchies in the girls bathroom. I supplemented my hair scrunchy line addiction,
                by getting classmates hooked on beef jerky thus becoming their daily supplier.</p>
            <p>
                I branched out my skills by taking sewing classes, and later turned out a few outfits
                for myself and even a homecoming dress for a friend.</p>
            
                <h3>
                    THE DETOUR</h3>
                <p>
                    Post high school: Despite the overt signs of a possible future in designing and
                    or sales, I took the obvious route and became a registered nurse.</p>
                <p>
                    The most creative I got was how many different excuses I could come up with for
                    being late to my 7AM clinicals.</p>
                <h3>
                    THE ENLIGHTENMENT</h3>
                <p>
                    Caught my dad one evening making rosaries at the dining room table. A talent he's
                    known for years but hid inconspicuously. Needless to say I quickly learned the trade.</p>
                <h3>
                    THE THERAPY SESSIONS</h3>
                <p>
                    After 12-hour days working on an intensive care unit, and while helping to mend
                    a girlfriend's broken heart, we arduously created jewelry.</p>
                <p>
                    To fund our therapy, we sold the jewelry to eager friends, family and coworkers.</p>
                <h3>
                    THE DIVE</h3>
                <p>
                    We made the dive and sent a few pieces to RedEnvelope.com. We were featured in their
                    Holiday 2000 line.
                </p>
                <p>
                    Needless to say art shows, home shows, wedding parties, gift shops (currently Chiaroscuro
                    on Michigan Ave) soon followed.</p>
                <h3>
                    PRESENT AND FUTURE</h3>
                <p>
                    I am still a RN gladly working for our tireless devoted US Veterans. I am also still,
                    very much creating jewelry and have recently started to design handbags. Through
                    the encouragement and support of my fiance and family we have together created this
                    catalog with the dreams of allowing our home-based business to grow and thrive.</p>
                <p>
                    <i>-Merci de Leon</i>
                </p>
    
</div>

{% endblock content %}