{% extends "shop/layout.html" %}
{% block content %}
{% include "shop/navbar.html" %}

<div class="container">
        <h1>Update {{ category.name }} Description</h1>

        <form action="{{ url_for('editCategoryPage', category_name = category.name) }}", method='post'>

            <div class="form-group">
                <p>Description:</p>
                <textarea cols='40' rows='4' name='description' required>{{ category.description }}</textarea>
            </div>

        
            <div class="form-group">
                <p>Category Image:</p>
                <div class="select">
                    <select name="category_image" required>
                    {% for category_image in category_images %}
                        <option value ='{{ category_image }}'
                        {% if category_image == category.category_image %} 
                            {{ "selected='selected'" }} 
                        {% endif %}>{{ category_image }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        

            <!-- SUBMIT SECTION -->

            <div class="form-group">
                    <p></p><input class="btn btn-sm btn-outline-primary" type='submit' value='Edit'>
                    <a class="btn btn-sm btn-outline-secondary" href='{{ url_for('categoryPage', category_name = category.name) }}'>Cancel</a>
            </div>
            

            
            
        </form>
</div>
{% endblock content %}