<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HaveMerci Jewelry</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    
    
    <!-- Carousel Style
    <link href="{{ url_for('static', filename='css/carousel.css') }}" rel="stylesheet">
     -->
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modern-business.css') }}">
    
    <!-- Album Style -->
    <link href="{{ url_for('static', filename='css/album.css') }}" rel="stylesheet">

    <!-- Sticky Footer style -->
    <link href="{{ url_for('static', filename='css/sticky-footer.css') }}" rel="stylesheet">

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

  </head>

  <body>


    <!-- Page Content -->
    {% block content %}{% endblock %}
    <!-- END PAGE CONTENT! -->
    


    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright &copy; HaveMerci 2018</span>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

  </body>

</html>
