    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
              <!-- <a class="navbar-brand" href="index.html">Start Bootstrap</a> -->
              <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/havemerci.png') }}"></a>
      
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
      
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                  </li>
      
                  <!-- LOOP CATEGORIES INTO NAV BAR -->
                  {% for category in categories %}
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('categoryPage', category_name = category.name) }}">{{ category.name }}</a></li>
                  {% endfor %}
                  <!-- END LOOP -->                  
      
                  <!-- LOGIN LINK FOR PUBLIC PAGE -->
                  <li class="nav-item"></li>
                    {%if 'username' not in session %}
                        <a class="btn btn-primary" href="{{url_for('showLogin')}}">Login </a>
                    {% else %}
                        <a class="btn btn-primary" href="{{url_for('logoff')}}">Logout </a>
                    {% endif %}
                  </li>
      
                </ul>
              </div>
            </div>
          </nav>
          <!-- END Navigation -->