{% extends "shop/publiclayout.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

      <div class="card mt-4">
        <img class="card-img-top" src="{{ url_for('static',filename='img/items/' + item.product_image) }}" alt="">
        <div class="card-body">
          <h3 class="card-title">{{ item.name }}</h3>
          <h5>{{ item.price }}</h5></br>
          <h4>Description:</h4>
          <p class="card-text">{{ item.description }}</p>
          <!-- Star Rating NOT USED
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
         -->
          </br></br>

        </div>
      </div>
      <!-- /.card -->


</div>
<!-- /.container -->


{% endblock content %}
