{% extends "shop/layout.html" %}
{% block content %}
{% include "shop/navbar.html" %}

<div class="container">
        <a class="breadcrumb" href="{{ url_for('categoryPage', category_name = category.name) }}">Return to {{ category.name }}</a>

        <h1>Edit {{ item.name }}</h1>

        <form action="{{ url_for('editItem', category_name = category.name, item_id = item.id) }}", method='post'>
            

            <div class="card">
                    <img class="card-img-top" src="{{ url_for('static',filename='img/items/' + item.product_image) }}" alt="">
                    <div class="card-body">
                        
                        <!-- INPUT FIELD SECTION -->
                        <div class="form-group">
                            <label>Name:</label>
                                <input type='text'  class="form-control"size='30' name='name' value='{{ item.name }}' required>
                            <label>Price:</label>
                                <input type='number'  class="form-control"size='8' name='price' value='{{ item.price }}' min='0' max='1000' step='0.01' required>
                            <label>Description:</label>
                                <textarea class="form-control" cols='40' rows='4' name='description' required>{{ item.description }}</textarea>
                        </div>

                        <!-- SELECT PRODUCT IMAGE -->
                        <div class="form-group">
                            <p>Product Image:</p>
                            <div class="select">
                                <select name="product_image" required>
                                {% for product_image in product_images %}
                                    <option value ='{{ product_image }}'
                                    {% if product_image == item.product_image %} 
                                        {{ "selected='selected'"}} 
                                    {% endif %}>{{ product_image }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!-- SUBMIT SECTION -->
                        <div class="form-group">
                            <input class="btn btn-sm btn-outline-primary" type='submit' value='Submit Changes' >
                            <a class="btn btn-sm btn-outline-secondary" href='{{ url_for('itemPage', category_name = category.name, item_id = item.id) }}'>Cancel</a>
                        </div>

                    </div>

                      

            </div>
            <!-- /.card -->

            
        </form>


        
</div>
{% endblock content %}