{% extends "shop/layout.html" %}
{% block content %}
{% include "shop/navbar.html" %}

<header>
        <!-- CAROUSEL -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>

            <!-- CAROUSEL INNER -->
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('{{ url_for('static',filename='img/2018_slide1.jpg') }}')">

                    <div class="carousel-caption d-none d-md-block">
        
                        <h3>First Slide</h3>
        
                        <p>This is a description for the first slide.</p>
        
                    </div>
        
                </div>

                <div class="carousel-item" style="background-image: url('{{ url_for('static',filename='img/2018_slide2.jpg') }}')">

                    <div class="carousel-caption d-none d-md-block">
        
                        <h3>Second Slide</h3>
        
                        <p>This is a description for the second slide.</p>
        
                    </div>
        
                </div>

                <div class="carousel-item" style="background-image: url('{{ url_for('static',filename='img/2018_slide3.jpg') }}')">

                    <div class="carousel-caption d-none d-md-block">
        
                        <h3>Third Slide</h3>
        
                        <p>This is a description for the third slide.</p>
        
                    </div>
        
                </div>


                
            </div>
            <!-- END CAROUSEL INNER -->

            <!-- CAROUSEL PREV NEXT -->
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!-- END CAROUSEL PREV NEXT -->

        </div>
            <!-- END CAROUSEL -->
</header>

<div class="container">

        <div class = 'flash text-info'>
            {% with messages =  get_flashed_messages() %}
                {% if messages %}
    
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
    
                {% endif %}
            {% endwith %}
        </div>

        

        <h1 class="my-4">Welcome to HaveMerci Jewelry!</h1>
        <h4>Hello, {%if 'username' not in session %}
                        Guest!
                    {% else %}
                    {{ user_name }}!
                    {% endif %}
        </h4>

            <!-- CATEGORIES WITH IMAGES -->
            <div class="row">

                <!-- CATEGORIES FOR LOOP -->
                {% for category in categories %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                  <div class="card h-100">
                    <a href="{{ url_for('categoryPage', category_name = category.name) }}">
                        <img class="card-img-top" src="{{ url_for('static',filename='img/categories/' + category.category_image) }}" alt="">
                    </a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="{{ url_for('categoryPage', category_name = category.name) }}">{{ category.name }}</a>
                      </h4>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <!-- END CATEGORIES FOR LOOP -->
    
              </div>
              <!-- /.row -->
              <!-- END CATEGORIES WITH IMAGES -->

</div>
<!-- /.container -->

{% endblock content %}