{% extends "shop/layout.html" %}
{% block content %}
{% include "shop/navbar.html" %}

<main role="main">
  <div class="container">
      <a class="breadcrumb" href="{{ url_for('home') }}">Return to All Categories</a>
      <section class="jumbotron text-center" style="background-image: url('{{ url_for('static',filename='img/categories/' + category.category_image) }}')">
        <h1 class="jumbotron-heading text-white">{{ category.name }}</h1>
        <p class="lead text-white">{{ category.description }}</p>
        
      </div>
    </section>

  <div class="album py-5 bg-light">
      <div class="container">
              <!-- CATEGORY ITEMS WITH IMAGES -->
              <div class="row">
                  
                <!-- ITEMS FOR LOOP -->
                {% for item in items %}
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <a href="{{ url_for('itemPage', category_name = category.name, item_id = item.id) }}">
                        <img class="card-img-top" src="{{ url_for('static',filename='img/items/' + item.product_image) }}" alt="">
                    </a>
                    <div class="card-body">
                      <p class="card-text">
                        <a href="{{ url_for('itemPage', category_name = category.name, item_id = item.id) }}">{{ item.name }}</a>
                      </p>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <!-- END ITEM FOR LOOP -->

              </div>
              <!-- /.row -->
      </div>
  </div>

</main>



{% endblock content %}