{% extends "layout.html" %}
{% block content %}

            
            <div class="tm-main-content no-pad-b">
                    
                <section class="row tm-item-preview">
                    <div class="col-md-6 col-sm-12 mb-md-0 mb-5">
                        <img src="{{ url_for('static',filename='img/image-05-preview.jpg') }}" alt="Image" class="img-fluid tm-img-center-sm">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h2 class="tm-blue-text tm-margin-b-p">Mauris cursus turpis</h2>
                        <p class="tm-margin-b-p">Suspendisse suscipit tortor eu nunc fermentum pellentesque. Donec vaius diam ut velit porttitor accumsan. Cras ac porttitor urna, in vehicula diam. Ut ultricies leo dapibus, facilisis justo vel, dignissim tortor.</p>
                        <p class="tm-margin-b-p">Ut iaculis vel libero a auctor. Integer arcu orci, vaius id velit sed, lacinia venenatis felis. Integer in facilisis tortor. Vivamus facilisis mattis finibus. Vestibulum in aliquam nisl. Nunc pretium elementum posuere.</p>
                        <p class="tm-margin-b-p">Nunc vulputate placerat pulvinar. Integer ornare, enim et vestibulum mattis, dolor lacus congue sapien, eget tempor sapien est ut mauris.</p>
                        <p class="tm-blue-text tm-margin-b-s">Categories: <a href="#" class="tm-blue-text">New Story</a>, <a href="#" class="tm-blue-text">Epic</a>, <a href="#" class="tm-blue-text">Popular</a></p>
                        <p class="tm-blue-text tm-margin-b-s">Views: 10,890</p>
                        <p class="tm-blue-text tm-margin-b">Rating: <img src="{{ url_for('static',filename='img/star.png') }}" alt="Star image"> <img src="{{ url_for('static',filename='img/star.png') }}" alt="Star image"> <img src="{{ url_for('static',filename='img/star.png') }}" alt="Star image"> <img src="{{ url_for('static',filename='img/star.png') }}" alt="Star image"></p>
                        <a href="#" class="tm-btn tm-btn-gray tm-margin-r-20 tm-margin-b-s">Preview</a><a href="#" class="tm-btn tm-btn-blue">Download</a>
                    </div>
                </section>

                <div class="tm-gallery no-pad-b">
                    <div class="row">
                        <!-- ITEMS FOR LOOP -->
                        {% for item in items %}
                        <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item mb-5">
                            <a href="{{ url_for('itemPage', item_id = item.id) }}">
                                <div class="tm-gallery-item-overlay">
                                    <img src="{{ url_for('static',filename='img/image-01.jpg') }}" alt="Image" class="img-fluid tm-img-center">
                                </div>
                                
                                <p class="tm-figcaption">{{ item.name }}</p>
                            </a>
                        </figure>
                        {% endfor %}

                    </div>   
                </div>                    
                            
            </div>

  

{% endblock content %}