<html>
    <body>
        <h1>{{ category.name }}</h1>

        {% for item in items %}
            <p>
                {{ item.name }} </br>
                {{ item.price }} </br>
                {{ item.description }} </br>
                <a href='{{ url_for('editJewelryItem', cateory_name = category.name, jewelry_id = item.id ) }}'>Edit</a></br>
                <a href='{{ url_for('deleteJewelryItem', cateory_name = category.name, jewelry_id = item.id ) }}'>Edit</a></br>
            </p>
        {% endfor %}
    </body>
</html>