{% extends "layout.html" %}
{% block content %}

            
            <div class="tm-main-content no-pad-b">
                    
                <section class="row tm-item-preview">
                    <div class="col-md-6 col-sm-12 mb-md-0 mb-5">
                        <img src="{{ url_for('static',filename='img/image-05-preview.jpg') }}" alt="Image" class="img-fluid tm-img-center-sm">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h2 class="tm-blue-text tm-margin-b-p">{{ item.name }}</h2>
                        <p class="tm-margin-b-p">Price: {{ item.price }}</p>
                        <p class="tm-margin-b-p">Description:</br>
                            {{ item.description }}</p>
                        <p class="tm-blue-text tm-margin-b-s">Category: <a href="{{ url_for('categoryPage', category_name = category_name) }}" class="tm-blue-text">{{ category_name }}</a></p>
                        <p class="tm-blue-text tm-margin-b-s">Views: 10,890</p>
                        <p class="tm-blue-text tm-margin-b">Rating: <img src="{{ url_for('static',filename='img/star.png') }}" alt="Star image"> <img src="{{ url_for('static',filename='img/star.png') }}" alt="Star image"> <img src="{{ url_for('static',filename='img/star.png') }}" alt="Star image"> <img src="{{ url_for('static',filename='img/star.png') }}" alt="Star image"></p>

                        <a href="#" class="tm-btn tm-btn-gray tm-margin-r-20 tm-margin-b-s">Preview</a><a href="#" class="tm-btn tm-btn-blue">Download</a></br>

                        <a href='{{ url_for("editItem", item_id = item.id) }}' class="tm-btn tm-btn-gray tm-margin-r-20 tm-margin-b-s">Edit</a> 
                        <a href='{{ url_for("deleteItem", item_id = item.id) }}' class="tm-btn tm-btn-gray tm-margin-r-20 tm-margin-b-s">Delete</a>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        
                    </div>
                </section>

                              
                            
            </div>

  

{% endblock content %}

